/*form bits in content section*/
#content form{margin: 1em 0; padding: .5em 0 1em 0; overflow: hidden;}

#content form div{position: relative; clear: left; margin-bottom: 1.5em;}
#content form div.group{overflow: hidden;}
#content form div.other{clear: both; margin-top: 2em; margin-bottom: .5em !important; padding-bottom: .5em; overflow: hidden;}
#content form div.other label{margin-top: 1em;}
#content form div.other label.inline{margin-top: 2px;}

#content form fieldset{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
}

#content form fieldset legend{width: 100%; margin-left: -1em; padding: 1em; font-weight: bold;}

#content form fieldset.callout{margin: 1em 0 2em 0; padding: 2em 1em; background-color: #eee; border: 0; overflow: hidden;}
#content form fieldset.callout legend{background-color: #eee;}

#content form fieldset .sub-section{position: relative; margin-bottom: 1em !important; padding: 3em 1em 1em 1em !important; border: 1px solid #c8c8c8 !important; }
#content form fieldset .sub-section legend{position: absolute; top: 1em; padding-top: 0 !important; color: #00a89e;}

/*general form bits*/
#content form p{
  margin-top: .5em;
  font-size: 100%;
}

#content form em{
  font-weight: bold;
  color: red;
}

#content form label{display: block; width: 100%; margin-bottom: 3px; }
.block-label{display: inline-block; width: 30%;}

#content form input[type=text]{width: 50%}

#content input[type=radio]{
  margin-top: 0;
  margin-right: .5em;
  height: 1em !important;
  vertical-align: top;
}

#content input[type=submit]{background-color: #8ABC4F;}
#content input[type=submit]:hover{background-color: #aaa;}

#content form .buttons input{margin-left: 1em;}

#content form #challenge-image{width: 300px; height: 80px; margin-top: -1em; margin-bottom: 1em; padding: .5em; border: 0; background-color: #fff; overflow: hidden;}

/*general use classes*/

.form-header{height: 10em; margin-top: 1em; background-image: url('/images/themes/River/logo.jpg'); background-repeat: no-repeat; background-position: top left; background-size: 400px 117px; overflow: hidden;}
.form-header .hcard{float: right; margin-top: 1em;}
.form-header .fn{font-weight: bold;}


.load{
  display: none;
  width: auto;
  height: 1em;
  margin: 1em;
  padding-left: 2em;
  line-height: 1em;
  background: #fff url('/images/ajax-loader.gif') no-repeat left center;
}

.right{
  float: right;
}

.response{
  display: none;
  position: relative !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 2em;
  margin: 0 0 .5em 0;
  background-color: #eee;
}

.response-message{
  padding: 1em 2em 1em 1em;
}
.success{
  background-color: #d0e4b9;
}

.failure{
  background-color: #ebadaf;
}

.help{display: inline-block; margin-right: 2em;}

.big{
  font-size: 180%;
  margin: 0;
}

.inline{float: left !important; margin-top: .5em;}

.tiny{width: 15% !important;}
.small{width: 25% !important;}
.medium{width: 50% !important;}
.wide{width: 98.4% !important;}
.full{width: 100% !important;}
.tall{10em !important;}

.errors, label.error{display: block; margin: 2px 0; background-color: transparent; color: red;}
input.error, textarea.error, select.error{border-color: #333;}

ul.instructions li{
  margin-bottom: .5em;
}

.print-only{display: none;}

/*fallbacks for no-js*/
.no-js #print{display: none;}

/*fallbacks for localstorage*/
#save{display: none;}
.localstorage #save{display: inline-block;}

/*app specific styles*/

/*lib card application eligibility check and map*/
.no-js .eligibility-question, .no-js .eligibility{
  display: none;
}

.eligibility-check{
  background-color: #fff;
  min-height: 400px;
  overflow: hidden;
}

.eligibility-check h4{
  margin: .5em 0;
}

.eligibility-check p{
  line-height: 1.5em !important;
}

.eligibility-check .callout{
	margin: 1em 0;
}

#eligibility-form{margin-top: 0 !important; padding-top: 0 !important;}

#map-wrapper{
  position: relative;
  float: left;
  width: 54%;
  min-height: 400px;
  margin: .5em 0 1em 0;
  padding: 0;
  border: 5px solid #eee;
  background-color: transparent;
}

#map{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

#map img{
  margin: 0 !important;
}

/*job application*/
.add{display: none;}
.signature{display: none;}
.form-header address{margin-bottom: 0;}
