/*
GENERAL
*/	

@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

BODY {
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size : 11pt;
background:  url('http://www.dppl.org/images/hearts/hearts.png') repeat-x top left;
margin-top: 40px;
}

TABLE {
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size : 11pt;
}


.T60 {
	font-size : 60pt;
	font-family :  'Dancing Script', cursive;
	color : #003366;
	font-weight: normal;
}

.T44 {
	font-size : 44pt;
	font-family :  'Dancing Script', cursive;
	color : #339999;
	font-weight: normal;
}

.T14 {
	font-size : 14pt;
	font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #003366;
	font-weight: normal;
} 

.T14B {
	font-size : 14pt;
	font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #003366;
	font-weight: bold;
	vertical-align : top;
} 

TD.Initials {
	font-size : 14pt;
	font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #003366;
	font-weight: bold;
	vertical-align : top;
} 

.T13 {
font-size : 13pt;
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
color : #003366;
font-weight: normal;
}

.T13B {
font-size : 13pt;
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
color : #003366;
font-weight: bold;
}


.T10 {
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size : 10pt;
}

.T10C {
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size : 10pt;
text-align : center;
}

.T10A {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
}

.T10AC {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	text-align : center;
}

.T9A {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-weight : normal;
}

.T8A {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
}

.T8AW {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-weight : normal;
	color : #FFFFFF;
}

.T8AWB {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : bold;
	color : #FFFFFF;

}

.T8AWS {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
	color : #FFFFFF;


}

TD.T10 {
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size : 10pt;
}

TD.T14B {
	font-size : 14pt;
	font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #003366;
	font-weight: normal;
	vertical-align : middle;
	text-align : center;
} 

TD.header_top {
font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-align : right;
vertical-align : top;
}

TD.header_top_left {
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align : left;
	vertical-align : top;
}
	
TD.header_bottom {
font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-align : right;
vertical-align : bottom;
}

TD.header_bottom_left {
font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-align : left;
vertical-align : bottom;
}

.footer {
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-align : center;
	vertical-align : middle;
}

TD {
vertical-align : top;
}

/*
LINKS
*/		

A.link {
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
	font-style : normal;
	}

A.link:visited {
	font-weight: bold;
	color: #336699;
	text-decoration: underline;
	font-style : normal;
    }
	

A.link:hover {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color : #003366;
	font-style : normal;
    }
	
#side-nav A.link {
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
	font-style : normal;
	}

#side-nav A.link:visited {
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
	font-style : normal;
    }
	

#side-nav A.link:hover {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color : #003366;
	font-style : normal;
    }
	
A.link_sm {
	font-weight: bold;
	font-size: 10pt;
	color: #003366;
	text-decoration: underline;
	font-style : normal;
	}

A.link_sm:visited {
	font-weight: bold;
	font-size: 10pt;
	color: #336699;
	text-decoration: underline;
	font-style : normal;
    }

A.link_sm:hover {
	font-weight: bold;
	font-size: 10pt;
	color: #FFFFFF;
	text-decoration: none;
	background-color : #003366;
	font-style : normal;
    }
	
A.link_sm_no_underline {
	font-weight: bold;
	font-size: 10pt;
	color: #003366;
	text-decoration: none;
	font-style : normal;
	}
	
A.link_search {
	font-weight: bold;
	font-size: 10pt;
	color: #FFFFFF;
	text-decoration: underline;
	font-style : normal;
	}

A.link_search:hover {
	font-weight: bold;
	font-size: 10pt;
	color: #003366;
	text-decoration: none;
	background-color : #FFFFFF;
	font-style : normal;
    }	


A.link_xsm {
	font-weight: bold;
	font-size: 9pt;
	color: #003366;
	text-decoration: underline;
	font-style : normal;
	}

A.link_xsm:visited {
	font-weight: bold;
	font-size: 9pt;
	color: #336699;
	text-decoration: underline;
	font-style : normal;
    }

A.link_xsm:hover {
	font-weight: bold;
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration: none;
	background-color : #003366;
	font-style : normal;
    }
	
	
a.info{
    position:relative; /*this is the key*/
    z-index:24;
    }

a.info:hover  { z-index:25; background-color:#FFF }

a.info span  { display: none }

a.info:hover span  {
	/*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:2em;
	left:2em;
	width:15em;
	border: 1px solid #FF9933;
	background-color: #FFFFFF;
	color:#000;
	font-size: 8pt;
	text-decoration: none;
	text-align: left
}
	
	
TD.alpha_menu {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: #999999;
}
	
/*
FEATURES
*/		

TD.feature {
border-color : #339999 #339999 #339999 #339999;
border-width : thin thin thin thin;
font-size : 11pt;
}

TABLE.content {
font-size : 11pt;
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
}
 
.featureHead {
font-size : 16pt;
font-family :  'Dancing Script', cursive;
color : #339999;
font-weight: bold;
} 

.featureSub {
	font-size : 14pt;
	font-family :  'Dancing Script', cursive;
	color : #003366;
	font-weight: normal;
} 

.featureSubSmCaps {
	font-size : 8pt;
	font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #003366;
	font-weight: bold;
	font-variant : small-caps;
} 

TD.how {
	font-size : 9pt;
	font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #003366;
	font-weight: bold;
	vertical-align : top;
} 
 
H1 {
font-size : 16pt;
font-family :  'Dancing Script', cursive;
color : #339999;
font-weight: normal;
} 

H2 {
	font-size : 14pt;
	font-family :  'Dancing Script', cursive;
	color : #003366;
	font-weight: normal;
} 

H3 {
font-size : 13pt;
font-family :  'Dancing Script', cursive;
color : #003366;
font-weight: normal;
}

H4 {
font-size : 12pt;
font-family :  'Dancing Script', cursive;
color : #003366;
font-weight: bold;
}	



/*
SEARCH
*/		

.search_copy_title {
font-family:  'Dancing Script', cursive;
font-size: 9pt;
text-align : left;
vertical-align : middle;
font-variant : small-caps;
}

.search_copy {
font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9pt;
text-align : left;
vertical-align : middle;
}

.search {
	width: 333px;
	font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 12pt;
	/*background-image : url("../images/utils/search_bkgd.png");*/
	background-color: #fff;
	border: 1px solid #730140;
}

.search td{
  color: #730140 !important;
}

/*
COPYRIGHT
*/		

.copyright {
font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-align : right;
vertical-align : top;
}

.copyright2 {
font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
text-align : center;
vertical-align : middle;
}

.brackets {
font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
color : Silver;
}

	
/*
SPACERS
*/	

.spacer_xlg {
font-family: Arial,Helvetica,sans-serif;
font-size: 24pt;
}

.spacer_lg {
font-family: Arial,Helvetica,sans-serif;
font-size: 18pt;
}

.spacer_md_lg {
font-family: Arial,Helvetica,sans-serif;
font-size: 14pt;
}

.spacer_md {
font-family: Arial,Helvetica,sans-serif;
font-size: 10pt;
}

.spacer_md_sm {
font-family: Arial,Helvetica,sans-serif;
font-size: 8pt;
}	

.spacer_sm_md {
font-family: Arial,Helvetica,sans-serif;
font-size: 7pt;
}	
	
.spacer_sm {
font-family: Arial,Helvetica,sans-serif;
font-size: 5pt;
}

.spacer_sm_xsm {
font-family: Arial,Helvetica,sans-serif;
font-size: 3pt;
}

.spacer_xsm {
font-family: Arial,Helvetica,sans-serif;
font-size: 1pt;
}

.note {
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size : 9pt;
}



/*
MOBILE LIBRARY SCHEDULE
*/	

TD.mobile {
font-family : Arial, Helvetica, sans-serif;
font-weight : normal;
font-size : 10pt;
vertical-align : top;
}

TD.mobile_day {
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10pt;
	vertical-align : top;
	color: #FFFFFF;
	background-color : #339999;
}

TD.mobile_week {
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10pt;
	vertical-align : middle;
	color: #003366;
	text-align : center;
}

TD.mobile_stops {
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-size : 10pt;
	vertical-align : middle;
	color: #000000;
	text-align : left;
	border-color : Silver Silver Silver Silver;
}
	
/*
PROJECT SITE
*/	

.complete {
background-color : #7cfc00;
font-family :  Verdana, Geneva, Arial, Helvetica, sans-serif;
font-weight : normal;
font-size : 12pt;
}


/*
FONTSIZE SWITCHER
*/

.fontsizeSwitcher {
position: absolute;
width: 99%;
top: 0;
left: 0;
padding: 5px;
font-family : Arial, Helvetica, sans-serif;
font-size : 10pt;
font-stretch : normal;
font-weight : normal;
color : #730140;
background-color: #fff;
border-bottom: 1px solid #730140;
}

.fontsizeSwitcher a{
  color: #730140 !important;
}

A.standard {
font-family : Arial, Helvetica, sans-serif;
font-size : 8pt;
font-stretch : wider;
font-weight : bold;
color : #2B2B2B;
text-decoration : none;
}

A.standard:hover {
font-family : Arial, Helvetica, sans-serif;
font-size : 8pt;
font-stretch : wider;
font-weight : bold;
color: White;
background-color : #003366;
text-decoration : none;
}

A.medium {
font-family : Arial, Helvetica, sans-serif;
font-size : 12pt;
font-stretch : wider;
font-weight : bold;
color : #2B2B2B;
text-decoration : none;
}

A.medium:hover {
font-family : Arial, Helvetica, sans-serif;
font-size : 12pt;
font-stretch : wider;
font-weight : bold;
color: White;
background-color : #003366;
text-decoration : none;
}

A.large {
font-family : Arial, Helvetica, sans-serif;
font-size : 16pt;
font-stretch : wider;
font-weight : bold;
color : #2B2B2B;
text-decoration : none;
}

A.large:hover {
font-family : Arial, Helvetica, sans-serif;
font-size : 16pt;
font-stretch : wider;
font-weight : bold;
color: White;
background-color : #003366;
text-decoration : none;
}


/*
MANUAL
*/	

TD.header_manual {
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color : #660099;
	font-stretch : wider;
	font-weight : bold;
	text-align : right;
	vertical-align : bottom;
}

.menu {
font-family : Arial, Helvetica, sans-serif;
font-size : 11pt;
font-weight : normal;
color : #ADADAD;
text-decoration : none;
}

A.menu {
font-family : Arial, Helvetica, sans-serif;
font-size : 11pt;
font-stretch : wider;
font-weight : bold;
color : #660099;
text-decoration : none;
}

A.menu:hover {
font-family : Arial, Helvetica, sans-serif;
font-size : 11pt;
font-stretch : wider;
font-weight : bold;
color: White;
background-color : #660099;
text-decoration : none;
}