
BODY {
  width: 61.53846153em;
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size : 13px;
  color: #333;
  background-color: #fff;
}

/*hide old table visual stuff*/
td{vertical-align: top; background-image: none !important;}

.spacer_sm img{display: none !important;}

/*things to hide if JS isn't enables*/

.no-js #search, .no-js #value-counter, .no-js #font-size, .no-js #events{
  display: none;
}

/*basic page elments*/
h1 {
  font-size : 2em;
  color : #00a89e;
  font-weight: bold;
} 

h1 small{
  display: block;
  font-size: .7em;
  color: #888;
}

h2 {
  font-size : 1.5em;
  color : #003366;
  font-weight: bold;
  margin-top: 1.5em;
} 

h3 {
  font-size : 1em;
  color : #000;
  font-weight: bold;
  margin-top: 2.5em;
  margin-bottom: .5em;
}

h3 a{font-weight: bold !important;}

h4 {
  font-size : 1em;
  color : #003366;
  font-weight: bold;
}

h5{
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

/*LINKS*/  

a[href] {
  font-weight: normal;
  color: #003366;
  text-decoration: underline;
  font-style : normal;
  }

a[href]:visited {
  font-weight: normal;
  color: #003366;
  text-decoration: underline;
  font-style : normal;
    }
  

a[href]:hover {
  font-weight: normal;
  color: #555;
  text-decoration: inherit;
/*  background-color : #003366;*/
  font-style : normal;
    }  
  
a.no-style{
 font-style: normal;
 font-weight: normal;
 text-decoration: none;
}

a.button{
  display: inline-block;
  width: auto;
  height: 2em;
  line-height: 2em;
  margin: .5em 0;
  padding: 0 .5em;
  background-color: #00a89e;
  color: #fff !important;
  vertical-align: middle;
  text-align: center;
  border-radius: .5em;
  box-shadow: 1px 1px 1px 0px #ddd;
  text-decoration: none;
}

a.button:hover{
  background-color: #555;
 }
 
 a.filter{display: none; background-color: #fcaf3f;}
 
.right{float: right;}

/*
a.link {
  font-weight: normal;
  color: #003366;
  text-decoration: underline;
  font-style : normal;
  }

a.link:visited {
  font-weight: normal;
  color: #336699;
  text-decoration: underline;
  font-style : normal;
    }
  

a.link:hover {
  font-weight: normal;
  color: #aaa;
  text-decoration: none;
  font-style : normal;
    }
  
a.link_sm {
  font-weight: normal;
  font-size: 1em;
  color: #003366;
  text-decoration: underline;
  font-style : normal;
  }

a.link_sm:visited {
  font-weight: normal;
  font-size: 1em;
  color: #336699;
  text-decoration: underline;
  font-style : normal;
    }

a.link_sm:hover {
  font-weight: normal;
  font-size: 1em;
  color: #c8c8c8;
  text-decoration: underline;
  font-style : normal;
    }
  
a.link_sm_no_underline {
  font-weight: bold;
  font-size: .1em;
  color: #003366;
  text-decoration: none;
  font-style : normal;
  }
a.link_search {
  font-weight: bold;
  font-size: .1em;
  color: #FFFFFF;
  text-decoration: underline;
  font-style : normal;
  }

a.link_search:hover {
  font-weight: bold;
  font-size: .8333em;
  color: #003366;
  text-decoration: none;
  background-color : #FFFFFF;
  font-style : normal;
    }  


a.link_xsm {
  font-weight: normal;
  font-size: 1em;
  color: #003366;
  text-decoration: underline;
  font-style : normal;
  }

a.link_xsm:visited {
  font-weight: bold;
  font-size: 1em;
  color: #336699;
  text-decoration: underline;
  font-style : normal;
    }

a.link_xsm:hover {
  font-weight: bold;
  font-size: 1em;
  color: #FFFFFF;
  text-decoration: none;
  background-color : #003366;
  font-style : normal;
    }
*/
  
a.info{
    position:relative; /*this is the key*/
    z-index:24;
    }

a.info:hover  { z-index:25; background-color:#FFF }

a.info span  { display: none }

a.info:hover span  {
  /*the span will display just on :hover state*/
  display:block;
  position:absolute;
  top:2em;
  left:2em;
  width:15em;
  border: 1px solid #FF9933;
  background-color: #FFFFFF;
  color:#000;
  font-size: .6666em;
  text-decoration: none;
  text-align: left
}

address{
  font-style: normal;
  margin: 0 0 .5em 0;
}

hr{
  display: block;
  height: 1px;
  width: 90% !important;
  border: 0;
  border-top: 1px solid #eee;
  margin: 2em auto 1em auto;
  padding: 0;
}

img{
  border: 0;
}

input, select{
  width: auto;
  height: 2em;
  margin: 0;
  padding: 0 .15384615em;
  line-height: 2em;
  font-family: inherit;
  font-size: 1em;
  vertical-align: middle;
  outline: 0;
  overflow: hidden;
  border: 1px solid #aaa;
}

input[type=text]{
  height: 1.9em;
  line-height: 1.9em;
}

input[type=submit], input[type=button]{
  height: 2em;
  line-height: 2em;
  padding: 0 .46153846em;
  cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover{
  background-color: #c8c8c8;
}

input[type=checkbox]{
  margin: 0 4px;
}

/*reusable classes*/
.callout{
   margin: 1.5em 1em;
   padding: .5em 1em 1em 1em;
   background-color: #eee;
   overflow: hidden;
}

.clear{
  clear: both;
}

.hidden{
  display: none;
}

.first{margin-top: 0;}

.load{
  width: 100%;
  height: 100%;
  background: url('/images/ajax-loader.gif') no-repeat 50% 50%;
}

.warning{background-color: #FCF8E3; margin-bottom: 2px; padding: 4px 6px;}

.favorite{display: inline-block; width: 1em; height: 1em; background: url('/images/icons/star.png') no-repeat right top; padding: 0 2px;}

ul.no-style{
  list-style: none; padding-left: 0;
}

ul.no-style li{
  padding-bottom: .5em;
 }

 ul.buttons{
   width: 100%;
   overflow: hidden;
 }
 
ul.buttons li{
   display: block;
   float: left;
   margin-left: .5em;
}

/*header styles*/

#header{
  width: 100%;
  height: 180px;
  position: relative;
  z-index: 1000;
}

#header h1{
  width: 15.3846153em;
  float: left;
  margin-right: 1.53846em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

#header .theme{
  display: block;
  position: absolute; 
  top: 0; 
  left: 0; 
  font-weight: bold; 
  color: #e0922f;
}

#header .theme:hover{
  background-color: #e0922f;
  color: #fff;
}

#header .theme ul{
  margin: 0;
  padding-left: .5em;
  list-style: none;
}

#header .theme li{
  display: block;
  float: left;
  margin-right: .5em;
}

#header #tools{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.307692308em;
  line-height: 2.307692308em;
  z-index: 1000;
  border-bottom: 1px solid #c8c8c8;
  vertical-align: middle;
}

#header #tools a{text-decoration: none;}


/*font-size*/

#header #tools #font-size{
  position: absolute;
  top: 0;
  right: 19em;
  padding-right: 1em;
  width: auto;
  z-index: 3500;
}


#font-size p{
  width: 3.5em;
  float: left;
  margin: 0;
  padding-top: 0;
}

#font-size ul{
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

#font-size ul li{
  display: inline;
  margin-left: 1em;
  text-align: center;
  vertical-align: baseline;
  line-height: 1em;
}

#font-size ul li a{
  font-weight: bold;
  color : #333;
  text-decoration : none;
}

#font-size ul li a:hover{
  background-color: #eee;
}

a.standard {
font-size : 14px;
}

a.medium {
  font-size : 16px;
}

a.large {
font-size : 18px;
}

/*tools links*/
#header #tools .tools{
  position: absolute;
  top: 0; 
  right: -2px; 
  margin-top: 0; 
  padding-top: 0; 
  list-style: none; 
  z-index: 3000;
}

#header #tools .tools li{
  display: block;
  float: left;
  margin-left: 1.2em;
  padding: 0 .25em;
}

#header #tools .tools li:hover{
  background-color: #eee;
}

#header #tools .tools .how-do-i{
  position: relative;
}

#header #tools .tools .how-do-i:hover ul{
  display: block;
}

#header #tools .tools .how-do-i-links{
  display: none;
  position: absolute;
  width: 18em;
  top: 2.307692308em; 
  right: 0;
  line-height: 2em;
  padding: 0; 
  list-style: none; 
  background: #fff; 
  border: 1px solid #c8c8c8;  
  z-index: 5000;
  overflow: hidden;
}

#header #tools .tools .how-do-i-links li{
  float: none;
  margin: 0;
  padding: 0;
}

#header #tools .tools .how-do-i-links li a{
  display: inline-block;
  width: 100%;
  height: 2em;
  line-height: 2em;
  padding: 0 .5em;
}

#header #tools .tools .how-do-i-links li a:hover{
  background-color: #eee;
  color: #333;
}

/*Search*/

#search{
  position: absolute;
  top: 50%;
  right: -1.5em;
  width: 29.2307em;
  height: 2.1538461em;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

div#search label{
  display: none;
}

div#search input#search-text{
  width: 16.5em;
}

/*mobile alert styles*/
#mobile-alert{
display: none; position: absolute; top: 0; left: 0; width: 100%; height: 2em;  line-height: 2em; padding: 0; background-color: #eee; z-index: 5000; text-align: left;
}

#mobile-alert a{display: block; width: 100%; display: relative; text-decoration: none;}

#mobile-alert p {margin: 0 0 0 10px;}

#mobile-alert .close{width: 10%; position: absolute; top: 0; right: 0; padding-right: 10px; font-weight: bold; text-align: right; cursor: pointer; z-index: 5050;}

/*navigation*/
/*adapted from http://css-tricks.com/simple-jquery-dropdowns/*/

div#navigation{
  width: 100%;
  height: 2.5em;
  /*margin: 0 0 1em 0;*/
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: visible;
  font-size: 1em;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}
div#navigation a{
  text-decoration: none;
}
div#navigation ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
div#navigation ul li{
  margin: 0;
  padding: 0;
}


/*   LEVEL ONE*/
ul.dropdown{
  position: relative;
z-index: 30;
}
ul.dropdown li{
  margin: 0;
  padding: 0;
  font-weight: bold;
  float: left;
  zoom: 1;
}
ul.dropdown a:hover{
  color: #000;
}
ul.dropdown a:active{
  color: #fff;
}
ul.dropdown li a{
  display: block;
  width: auto;
  height: 2.5em;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 10px;
  color: #036;
  text-align: left;
  font-weight: bold;
  line-height: 2.5em;
  vertical-align: middle;
}
ul.dropdown li a:hover{
  font-weight: bold;
  color: #fff;
}
ul.dropdown li a:visited{
  color: #036;
  font-weight: bold;
}

ul.dropdown li.last-child a{
  border-right: none;
}

 /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover{
  background: #00a89e;
  color: #333;
  position: relative;
}
ul.dropdown li.hover a{
  color: #fff;
}

/*   LEVEL TWO*/
ul.dropdown ul{
 width: 15.71em;
visibility: hidden;
position: absolute;
top: 100%;
left: 0;
border: 1px solid #c8c8c8;
}

ul.dropdown ul li{
  font-weight: normal;
  background: #fff;
  /*color: #666;*/
  float: none;
}


ul.dropdown li.hover ul li a{
  color: #333;
}

ul.dropdown li.hover ul li a:hover{
  color: #fff;
}

                    
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a{
  border-right: none;
  width: 100%;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  font-weight: normal;
  color: #333;
}

ul.dropdown ul li a:hover{
  font-weight: normal;
}

ul.dropdown ul li a:visited{
  color: #333;
  font-weight: normal;
}

/*   LEVEL THREE*/
ul.dropdown ul ul{
  left: 100%;
  top: 0;
}
ul.dropdown li:hover > ul{
  visibility: visible;
}

.lt-ie7 ul.dropdown ul li{
 display: inline; width: 100%; 
} 

/*banner ad, with nav include*/
.ad-banner{
  position: relative;
  float: right;
  width: 49.076923em;
  height: 6em;
  margin: 0;
  padding: 0 6px;
  text-align: center;
  background: url('/images/edppl/zinio-ipad.jpg') no-repeat right top;
  overflow: hidden;
}

.ad-banner:hover{
  background-position: right -5.5em;
}

.ad-banner a{
  text-decoration: none;
  display: block;
  width: 100%;
  height: 6em;
  overflow: hidden;
}

.ad-banner div{
  position: absolute; 
  top: 20%; 
  left: 0;
  float: none;
  margin-top: -10%; 
  padding-top: 4px;
  width: 55%; 
  margin: 0; 
  line-height: 1em;
  font-size: 110%;
}

.ad-banner p{
  margin: 0;
}

.ad-banner .headline{
  color: #dd3039;
  font-weight: bold;
}

.ad-banner .link{
  margin-top: .5em;
  font-size: .9em;
}

/*side navigation*/

#side-nav{
  width: 10em;
  float: left;
  margin-top: 1em;
  margin-right: 1.5em;
  color: inherit;
}

#side-nav small{display: block; padding-top: 2px; font-size: .8em; color: #777;}

#side-nav ul{
  margin: 2px 0 14px 0;
  padding: 0 0 7px 0;
  list-style: none;
  border-bottom: 1px solid #c8c8c8;
}

#side-nav ul.last{
  border-bottom: 0;
}

#side-nav ul li{
  margin: 0 0 10px 0;
  padding: 0;
}

#side-nav ul li a{
  text-decoration: none;
}

/*content*/

#content{
  width: 49.076923em;
  min-height: 36.9230768em;
  float: left;
  margin-bottom: 0;
  border: 1px solid #c8c8c8;
  padding: 5px;
  overflow: hidden;
  background: #fff;
}

#content table{
  width: 100% !important;
}

#content p, #content li, #content td{
  line-height: 1.35em;
  margin-bottom: .5em;
}

#content img{
  margin: 0 1em 1em 1em;
}

#content h1{
  margin-bottom: 1em;
  line-height: 1.25em;
}

#content .headline h1{
  margin-bottom: .5em;
}

#content .headline h1.subject{
  height: 3em;
  margin-bottom: 0;
}

#content .headline h1.automotive{
  background: url('/images/reference/subject-icons/automotive.png') no-repeat right -.5em;
}
#content .headline h1.books-and-lit{
  background: url('/images/reference/subject-icons/books-and-lit.png') no-repeat right -.5em;
}
#content .headline h1.business-and-careers{
  background: url('/images/reference/subject-icons/business-and-careers.png') no-repeat right -.5em;
}
#content .headline h1.computer{
  background: url('/images/reference/subject-icons/computer.png') no-repeat right -.5em;
}
#content .headline h1.consumer-information{
  background: url('/images/reference/subject-icons/consumer-information.png') no-repeat right -.5em;
}
#content .headline h1.encyclopedia{
  background: url('/images/reference/subject-icons/encyclopedia.png') no-repeat right -.5em;
}
#content .headline h1.genealogy{
  background: url('/images/reference/subject-icons/genealogy.png') no-repeat right -10px;
}
#content .headline h1.government{
  background: url('/images/reference/subject-icons/government.png') no-repeat right -.5em;
}
#content .headline h1.health-and-medicine{
  background: url('/images/reference/subject-icons/health-and-medicine.png') no-repeat right -.5em;
}
#content .headline h1.history-and-geography{
  background: url('/images/reference/subject-icons/history-and-geography.png') no-repeat right -.5em;
}
#content .headline h1.business-and-careers{
  background: url('/images/reference/subject-icons/business-and-careers.png') no-repeat right -.5em;
}
#content .headline h1.language-esl{
  background: url('/images/reference/subject-icons/language-esl.png') no-repeat right -.5em;
}  
#content .headline h1.law-and-legal-forms{
  background: url('/images/reference/subject-icons/law-and-legal-forms.png') no-repeat right -.5em;
}
#content .headline h1.magazines{
  background: url('/images/reference/subject-icons/magazines.png') no-repeat right -.5em;
}
#content .headline h1.newspapers{
  background: url('/images/reference/subject-icons/newspapers.png') no-repeat right -.5em;
}
#content .headline h1.tutoring{
  background: url('/images/reference/subject-icons/tutoring.png') no-repeat right -.5em;
}

#content ul.board{
  list-style: none;
  padding-left: 0;
}

div.main{
  float: left;
  width: 32.615384em;
  padding-right: 10px;
  margin-bottom: 2em;
}
div.main h3{
  margin-bottom: 0;
}
div.main p{
  margin-top: .2em;
}
div.inset{
  float: left;
  width: 14.923076em;
  margin-left: 10px;
}
div.inset .container{
  margin-bottom: 1em;
  padding: .5em 1em;
  border: 1px solid #c8c8c8;
}
div.inset .container h4{
  margin-top: .5em;
}
div.inset .container img{
  width: 100%;
  margin: 0 !important;
}
div.inset .container #events{
  width: 100% !important;
}
div.read-watch-listen-icon{
  background: url('/images/read-watch-listen/read-watch-listen-icons.png') no-repeat;
}
div.read{
  background-position: right 0px;
  height: 150px;
}
div.watch{
  background-position: left -150px;
  height: 150px;
}
div.listen{
  background-position: right -300px;
  height: 150px;
}
div.entry{
  padding: 0;
}
div.feed-title{
  font-weight: bold;
}
div.entry-title{
  font-weight: normal;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0 0 1em 0;
}
div.entry-title a{
  text-decoration: none;
  color: #000;
}
div.entry-content{
  display: none;
}

div#list{
  min-height: 270px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
}
.list-title{
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}
.list-item{
  float: left;
  width: 12.692307em;
  height: 240px;
  padding: .5em;
  text-align: center;
  display: none;
  font-size: 90%;
}
.list-item a{
  display: block;
  margin-top: 3%;
  text-decoration: none;
}
.list-item img{
  height: 200px;
  border: 3px solid #fff;
  margin: 0 !important;
}

/*slides*/
#slide-container{
  height: 24.285714em; /*340px at 14px*/
  width: 100%;
  margin: 0 auto;
  padding-top: .5em;
  position: relative;
  background: #e0922f /*url('/images/themes/together/together-stripe.png') repeat-x bottom*/;
}

#slides{
  position: relative;
  width: 618px;
  height: 20em; /*280px at 14px*/
  margin: 10px auto;  
  z-index: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, .5);
}

#slides h2{
  margin-top: 2px;
  margin-bottom: .5em;
  padding-bottom: 0;
  font-size: 1.6em;
  color: #a32431;
  text-shadow: 1px 1px 1px #fff;
  border: 0;
}
 
 #slides .item {
  display: none;
  padding: 20px;
}

#slides .first{
  display: block;
}

#slides .item .image{
  float: left;
  width: 275px;
  background: #fff;
  border: 5px solid #fff;
}

#slides .item .text{
  float: left;
  width:  273px;
  margin-left: 20px;
}

#slides img{
  margin: 0;
}

#nav{
  position: absolute;
  width: 7.142em;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
  text-align: center;
}

a.slide-dir{
  text-decoration: none;
  color: #111 !important;
}

a#prev2{
  display: block;
  position: absolute;
  bottom: 20px;
  left: 225px;
}

a#next2{
  display: block;
  position: absolute;
  bottom: 20px;
  right: 225px;
}

#nav a{
  text-decoration: none;
  font-weight: normal;
  margin: 0 5px;
  padding: 3px 5px;
  color: #111;
  *margin: 1px 5px;
  text-shadow: 1px 1px 1px #aaa;
}

#nav a.activeSlide {
  background-color: #e9ae4a;
  color: #fff;
  text-shadow: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

#nav a:focus {
   outline: none;
  
}

/*blog feed styles*/
#rss-blogs .gfc-resultsRoot{
  margin-bottom: 10px !important;
}

.gfc-resultsHeader{
  border: 0 !important;
}

.gfc-title{
  color: #000 !important;
  font-size: 1em;
}

.gf-author, .gf-spacer, .gf-relativePublishedDate{
  display:none !important;
}

.gf-title{
  height: auto !important;
}

.gf-title a{
  color: #003366 !important;
  text-decoration: none !important;
}

#rss-blogs .gf-snippet{
  display: none !important;
}

/*styling for jquery feed box*/
/*events*/
#events{
width: 17.85em;
  height: 21.4285714em;
  overflow-x: hide;
  overflow-y: scroll;
  border: 1px solid #c8c8c8;

}

#events .feed-item{
   padding: 5px;
  border-bottom: 1px solid #f8f8f8;
}

#events .feed-item:nth-child(odd){
  background-color: #f8f8f8 !important;
}

#events .feed-title a{
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: normal;
}

#events .feed-times{
  margin-bottom: 4px;
}

/*styles for board meeting tables*/

table.board{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}
table.board td, table.board th{
  width: 22.73%;
  border: 1px solid #000;
  padding: .5em;
  text-align: left;
}
table.board .view{
  width: 68.19%;
}
table.board th{
  font-weight: bold;
  background-color: #c8c8c8;
}
table.board a.download{
  display: block;
  background: url(/images/icons/download.gif) no-repeat center left;
  margin-bottom: 6px;
  padding-left: 20px;
}
table.board a.download:hover{
  color: #666;
  text-decoration: underline;
}

a.download{
  background: url(/images/icons/download.gif) no-repeat center left;
  padding-left: 20px;
}

/*special style sheet for database listings*/

#db-list{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

div#db-list h3{
  clear: both;
  background-color: #eee;
  padding: 4px;
}

div#db-list h4{
  clear: both;
  width: 60%;
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1em;
}

div.db{
  overflow: auto;
  margin-bottom: 2em;
}

div.db p{
  float: left;
  width: 60%;
  margin-top: .2em;
}

div.db img{
  float: right;
  width: 30%;
  margin: 0 !important;
  border: 5px solid #eee;
  border-radius: .5em;
}

div.db img.no-border{
  border: 0;
}

div#db-list .no-style{
  padding-left: 6px;
}

.library-only{
  width: auto;
  display: inline-block;
  margin-left: .5em; 
  padding: 2px 6px;
  font-size: 85%;
  font-weight: normal;
  background-color: #FCF8E3;
  color: #C09853;
}

/*styles for edppl page*/


.edppl-icon-link{
  display: block;
  float: left; 
  width: 21.78683%;  
  margin: 10px; 
  padding: 0; 
  text-align: center;
  text-decoration: none !important;
}

.edppl-icon-link:hover{
  background-color: #eee;
  border-radius: 5px;
}

.edppl-heading-icon{
  float: left; 
  width: 30%; 
  margin-right: 5%;
}

.edppl-heading-icon img{
  width: 100%;
  margin: 0 !important;
}

.edppl-text{
  float: left;
  width: 65%;
}

.edppl-text h3{
  padding-bottom: .3em; 
  border-bottom: 2px solid #c1d82f;
}

.edppl-product-image{
  float: left; 
  margin: 10px 10px 10px 0; 
  width: 60%; 
  padding: 5px;
}

.edppl-product-image img{
  width: 100%;
  margin: 0 !important;
  background-color: #fff;
}

.edppl-callout{
  float: right; 
  width: 40%; 
  padding-top: 1em; 
  text-align: center;
}

#magazine-list{
  list-style: none;
  padding: 1em;
  background-color: #eee;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
}

#magazine-list li{
  display: block;
}

/*footer*/

#footer{
  width: 99.9%;
  height: 140px;
  margin: 1em 0 2em 0;
  padding: 1em 0 0 0;
  font-size: .9em;
}

#footer #copyright{
  clear: both;
  width: 100%;
  padding-top: 1em;
}

#footer .section{
  float: left;
  width: 21.5%;
  height: 120px;
  margin-right: 26px;
  padding:  5px 0;
  border-right: 1px solid #c8c8c8;
  position: relative;
}

#footer .last{
  border: 0;
  margin-right: 0;
}

#footer #address{
  width: 50%;
}

#footer #address .map{
  position: absolute; top: 0; right: 1em;
}

#footer span{
  display: block;
  line-height: 1.5em;
}

#footer span.locality, #footer span.region, #footer span.postal-code{
  display: inline-block;
}

#footer span.hours{
  margin-bottom: .5em;
}

ul.social{
  list-style: none;
  margin: 0;
  padding: 0;
 }
 
 ul.social li{
   margin: 8px 0;
 }
 
 ul.social a{
   display: block;
 }

ul.social a{
  background: url('/images/icons/social-media-icons.png');
  background-repeat: no-repeat;
  line-height: 16px;
  padding-left: 24px;
}

ul.social a.facebook{
  background-position: 0px 0px;
}

ul.social a.twitter{
  background-position: 0px -16px;
}

ul.social a.tumblr{
  background-position: 0px -32px;
}

ul.social a.rss{
  background-position: 0px -48px;
}

ul.social a.pinterest{
  background-position: 0px -64px;
}


/*leftovers*/

/*resuable font-size classes almost all overriden with 1em*/
.T14 {
  font-size : 1.1666em;
  color : #003366;
  font-weight: normal;
} 

.T14B {
  font-size : 1.1666em;
  color : #003366;
  font-weight: bold;
  vertical-align : top;
} 

TD.Initials {
  font-size : 1.1666em;
  color : #003366;
  font-weight: bold;
  vertical-align : top;
} 

.T13 {
font-size : 1em;
color : #003366;
font-weight: normal;
}

.T13B {
font-size : 1em;
color : #003366;
font-weight: bold;
}


.T10 {
font-size : 1em;
}

.T10C {
font-size : 1em;
text-align : center;
}

.T10A {
  font-size : 1em;
  font-weight : normal;
}

.T10AC {
  font-size : 1em;
  font-weight : normal;
  text-align : center;
}

.T9A {
  font-size : 1em;
  font-weight : normal;
}

.T8A {
  font-size : 1em;
  font-weight : normal;
}

.T8AW {
  font-size : 1em;
  font-weight : normal;
  color : #FFFFFF;
}

.T8AWB {
  font-size : 1em;
  font-weight : bold;
  color : #FFFFFF;

}

.T8AWS {
  font-size : 1em;
  font-weight : bold;
  color : #FFFFFF;


}

TD.T10 {
font-size : 1em;
}

TD.T14B {
  font-size : 1.1666em;
  color : #003366;
  font-weight: normal;
  vertical-align : middle;
  text-align : center;
} 

  
/*
FEATURES
*/    

 
.featureHead {
font-size : 2em;
color : #339999;
font-weight: bold;
} 

.featureSub {
  font-size : 1.1666em;
  color : #003366;
  font-weight: normal;
} 

.featureSubSmCaps {
  font-size : .6666em;
  color : #003366;
  font-weight: bold;
  font-variant : small-caps;
} 

TD.how {
  font-size : .75em;
  color : #003366;
  font-weight: bold;
  vertical-align : top;
}   


  
/*
SPACERS
*/  

.spacer_xlg,  .spacer_lg,  .spacer_md_lg,  .spacer_md,  .spacer_md_sm,  .spacer_sm_md,  .spacer_sm,  .spacer_sm_xsm,  .spacer_xsm {
  display: block; height: 0; width: 0; line-height: 0;
}

.spacer_xlg br,  .spacer_lg br,  .spacer_md_lg br,  .spacer_md br,  .spacer_md_sm br,  .spacer_sm_md br,  .spacer_sm br,  .spacer_sm_xsm br,  .spacer_xsm  br{
  display: none;
}

@media print{
* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  /*stuff I've added for DPPl site*/
  body{width: 100%;}
  #header, #navigation, #search, #side-nav, #footer{display: none;}
  #content{border: 0; width: 100%;}
  .spacer_sm img{display: none !important;}
}


