table.taxes{
  width: 95%;
  border-collapse: collapse;
  margin: 10px;
  font-size: 10pt;
}


table.taxes tr:nth-child(odd){
  background-color: #f8f8f8;
}

table.taxes td{
  padding: .4em .2em;
}

table.taxes td.form{
  width: 25%;
}

table.taxes td.description{
  width: 65%;
}