/*Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

/*Styles for page*/
body{
  width: 65%;
  margin: 0 auto;
  background-color: #f8f8f8;
  font-family: Helvetica, Arial, sans-serif;
}

li a{
  text-decoration: none;
}

.hidden{
  display: none;
}

a{
  color: #666;
  font-weight: bold;
}

#header{
  background-color: #41ad49;
  padding: .25em 1em;
}

#header h1{
  color: #fff;
}

#headline{
  padding: 1em 0 2em 0;
  background: url('../images/smartscan-phone-web.jpg') no-repeat right -10px;
}

#headline h1{
  padding-top: .35em;
  color: #41ad49;
  font-size: 2em;
  line-height: 1.15em;
}

#headline p{
  margin-top: .5em;
  color: #8F8F8F;
}

#main{
  clear: both;
  padding: 0 1em 1em 1em;
  background: #fff;
  background: -moz-linear-gradient(top, #fff, #F8F8F8 );
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F8F8F8));
  overflow: auto;
}

#main h2{
  clear: both;
  font-size: 1em;
  padding: 1em;
  background-color: #41ad49;
  color: #fff;
  font-size: .8em;
  line-height: 1.35em;
}

#main h3{
  clear: both;
  float: left;
  margin-bottom: 1em;
  padding-top: 2em;
  color: #666;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  
}

#main .logo{
  float: right;
  margin: 2em 0 0 1em;
  padding: .15em;
}

#main ol, main ul{
  line-height: 1.35em;
}

#main ol{
  clear: left;
  margin: 1em 0;
  padding-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}

#main ol li{
  padding-bottom: 1em;
}
#main ul {
  border-bottom: solid 1px #ddd;
  padding: .5em .5em 1em .5em;
  overflow: auto;
}

#main ul li {
  float: left;
  text-align: center;
  vertical-align: text-bottom;
  padding: 0 .3em;
}

#footer{
  background-color: #F8F8F8;
  padding: .5em 1em;
}

#footer h1{
  color: #666;
  font-size: .8em;
}

@media screen and (max-width: 600px){
  body{
	width: 100%;
	background-color: #fff;
  }

}
