/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body{font-family: Optima, 'Optima LT Std', 'Lucida Sans', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: Optima, 'Optima LT Std', 'Lucida Sans', sans-serif;}
.header{margin: 40px 0 20px 0;}
.header img{float: right; width: 280px; margin: 1em; }
.header small{display: block; color: #888;}
.article blockquote.callout{
  padding-left: 0;
  font-size: 28px;
  line-height: 30px;
  color: #00a99f;
  border: 0;
}
.links h4{font-size: 17px; border-bottom: 1px solid #ddd;}
.aside h4{border-bottom: 2px solid #ddd}
.footer{margin-top: 40px; padding-top: 20px; border-top: 1px solid #ddd;}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {.header img{float: none;} .aside{margin-top: 20px !important; padding-top: 40px !important; border-top: 3px solid #ddd;}}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {.header img{float: none;} .aside{margin-top: 20px !important; padding-top: 40px !important; border-top: 3px solid #ddd;}}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {.header img{float: none;} .aside{margin-top: 20px !important; padding-top: 40px !important; border-top: 3px solid #ddd;}}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/