<table cellpadding="0" cellspacing="0" width="635">
 <tr>
  <td class="spacer_sm">
   <img alt="" border="0" height="5" src="/images/utils/feature_box_corner_TL.gif" width="5"/>
  </td>
  <td background="/images/utils/feature_box_horizontal.gif" height="5" nowrap="nowrap" width="625">
  </td>
  <td class="spacer_sm">
   <img alt="" border="0" height="5" src="/images/utils/feature_box_corner_TR.gif" width="5"/>
  </td>
 </tr>
 <tr>
  <td background="/images/utils/feature_box_vertical.gif" height="5" width="5">
  </td>
  <td>
   <table cellpadding="3" cellspacing="0" width="100%">
    <tr>
     <td>
      <!-- CONTENT HEADLINE -->
      <h1>
       [ARTIST]
      </h1>
      <span class="spacer_sm">
       <br/>
       <br/>
      </span>
      <!-- CONTENT BODY -->
      [CONTACT INFO]
      <br/>
      <br/>
      <h3>
       Works by
       <a class="link" href="bio.shtml" title="Biography of [ARTIST]">
        [ARTIST]
       </a>
      </h3>
      [Select an image for an enlarged view]
      <br/>
      <br/>
      <table>
       <tr>
        <td align="center">
         <a class="link_sm" href="work01.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work02.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work03.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work04.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work05.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work06.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work07.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work07.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work08.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work09.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work09.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work10.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_md" colspan="3">
         &nbsp;
        </td>
       </tr>
       <tr>
        <td align="center">
         <a class="link_sm" href="work11.shtml">
          <img alt="" border="0" src="x"/>
         </a>
        </td>
        <td>
         &nbsp;&nbsp;&nbsp;
        </td>
        <td>
         <b>
          Title:
         </b>
         [TITLE]
         <br/>
         <b>
          Medium:
         </b>
         [MEDIUM]
         <br/>
         <b>
          Size:
         </b>
         [SIZE]
         <br/>
         <b>
          Created:
         </b>
         [CREATED]
        </td>
       </tr>
       <tr>
        <td class="spacer_lg" colspan="3">
         &nbsp;
        </td>
       </tr>
      </table>
      <div class="T10" style="text-align: center">
       <a class="link" href="/artwork/index.shtml">
        Artists
       </a>
       | [ARTISTLN] |
       <a class="link" href="bio.shtml">
        Biography
       </a>
       <br/>
       <br/>
      </div>
     </td>
    </tr>
   </table>
  </td>
  <td background="/images/utils/feature_box_vertical.gif" height="5" width="5">
  </td>
 </tr>
 <tr>
  <td class="spacer_sm">
   <img alt="" border="0" height="5" src="/images/utils/feature_box_corner_BL.gif" width="5"/>
  </td>
  <td background="/images/utils/feature_box_horizontal.gif" height="5" nowrap="nowrap" width="625">
  </td>
  <td class="spacer_sm">
   <img alt="" border="0" height="5" src="/images/utils/feature_box_corner_BR.gif" width="5"/>
  </td>
 </tr>
 <tr>
  <td class="spacer_sm" colspan="3">
   &nbsp;
  </td>
 </tr>
</table>
