<table cellpadding="0" cellspacing="0" width="635">
 <tr>
  <td class="spacer_sm">
   <img alt="" border="0" height="5" src="/images/utils/feature_box_corner_TL.gif" width="5"/>
  </td>
  <td background="/images/utils/feature_box_horizontal.gif" height="5" nowrap="nowrap" width="625">
  </td>
  <td class="spacer_sm">
   <img alt="" border="0" height="5" src="/images/utils/feature_box_corner_TR.gif" width="5"/>
  </td>
 </tr>
 <tr>
  <td background="/images/utils/feature_box_vertical.gif" height="5" width="5">
  </td>
  <td>
   <table cellpadding="3" cellspacing="0" width="100%">
    <tr>
     <td>
      <!-- CONTENT HEADLINE -->
      <h1>
       [ARTIST]
      </h1>
      <span class="spacer_sm">
       <br/>
       <br/>
      </span>
      <!-- CONTENT BODY -->
      <div class="T13B" style="text-align: center">
       [TITLE]
       <br/>
       <br/>
       <img alt="" border="1" src="x"/>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="T10" style="text-align: center">
       <a class="link" href="/index.shtml">
        Artists
       </a>
       |
       <a class="link" href="index.shtml">
        [ARTISTLN]
       </a>
       |
       <a class="link" href="bio.shtml">
        Biography
       </a>
       |
       <a class="link" href="work02.shtml">
        Previous
       </a>
       |
       <a class="link" href="work04.shtml">
        Next
       </a>
      </div>
     </td>
    </tr>
   </table>
  </td>
  <td background="/images/utils/feature_box_vertical.gif" height="5" width="5">
  </td>
 </tr>
 <tr>
  <td class="spacer_sm">
   <img alt="" border="0" height="5" src="/images/utils/feature_box_corner_BL.gif" width="5"/>
  </td>
  <td background="/images/utils/feature_box_horizontal.gif" height="5" nowrap="nowrap" width="625">
  </td>
  <td class="spacer_sm">
   <img alt="" border="0" height="5" src="/images/utils/feature_box_corner_BR.gif" width="5"/>
  </td>
 </tr>
 <tr>
  <td class="spacer_sm" colspan="3">
   &nbsp;
  </td>
 </tr>
</table>
