@charset "UTF-8";
/* CSS Document */

html{background-color: #DDCB96; overflow-x: hidden;}

body{
  width: 860px !important;
  margin: 20px auto !important;
  background-color: transparent !important;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

body a {
	color:#0066CC;
	
	}

.sitenav 
	clear: both;
	}
	
.sitenavaddy {
	}

.sitenavlinks li {
	list-style-type: none;
	display: inline;
	margin: 0 15px 0 0;
	padding: 0;
	color: black;
	}
	
.sitenavlinks a:link {
	text-decoration: none;
	color:#0066CC;
	}
.sitenavlinks a:visited {
	text-decoration: none;
	color:#0066CC;
	}
.sitenavlinks a:hover {
	text-decoration: overline underline;
	}


.sitenavlinks ul {
	padding: 0;
	margin: 0;
	}

.caudillclub {
background-image:url(caudill/caudill_logo_2.gif);
background-repeat:no-repeat;
}
	
.chalkboardlinks {
	background: url(des_el/chalkboard2.png) no-repeat;
	vertical-align: top;
	padding: 18px 0 0 12px;
	color: white;
	
	}
	
.chalkboardlinks a{
	text-decoration: none;
	color: #fff;
	}

.chalkboardlinks a:hover {
	background-color: #FFFF99;
	color: #333 !important;
}
	
.chalkboardlinks a:visited {
	text-decoration: none;
	color: #fff;
	}
	

	
.contentbody {
	/*padding-right: 20px;*/
	}
	
	.contentbody p{line-height: 16px;}
	
.contentheader {
	vertical-align: top;
	padding: 20px 10px 0 0 ;
	}
	
.teachersanchor {
	font-size:14px;
	font-weight: bold;
	color: red;
	}
	
.subtopic {
	font-weight: bold;
	color: purple;
	}
	
.subtopic2 {
	font-weight: bold;
	color: black;
	}
	
.headertitles {
	font-weight: bold;
	color: #003399;
	font-size:18px;
	}
	
.or_table_left {
	border-top: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	padding: 1px;
	}
	
.or_table_right {
	border-top: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	padding: 1px;
	}

.or_table_click {
	
	}

.databaselinks a:hover {
	color: #003366;
	font-weight: inherit;
	}
	
.no-style{list-style: none; padding:0;}

.columns{width: 100%; margin: 0; padding: 0; overflow: hidden;}
.columns .col{float: left; width: 45%; margin-right: 5%;}
.columns .last {margin-right: 0;}
	
dl.book-list{margin-top: 0;}
dl.book-list dd{margin-left: 0; margin-bottom: 1.5em;}
	
	
	
	
	
	
	
	
	
	
