#events .feed-item{
   padding: 5px !important;
  border-bottom: 1px solid #f8f8f8 !important;
}

#events .feed-item:nth-child(odd){
  background-color: #f8f8f8 !important;
}

#events .feed-title a{
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  font-weight: normal !important;
}

#events .feed-times{
  margin-bottom: 4px !important;
}

#kiddingaround .feed-item{float: left; width: 256px; margin-bottom: 10px; margin-right: 10px; overflow: hidden;}

#kiddingaround .feed-title{font-size: 18px; line-height: 18px; margin-top: 2px; margin-bottom: 12px; font-weight: bold;}
#kiddingaround .feed-item-title{margin-bottom: 4px;}
#kiddingaround .feed-item-thumbnail{float: right; margin: 0 4px 8px 8px;}

.timeline .e-entry-title{font-size: 13px !important;}
