@charset "UTF-8";
/* CSS Document */

html{background-color: #E2E2E2;}

body {
  width:900px !important;
  margin: 20px auto !important;
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
  }

body a {
  color: #003366;
  }

.sitenav {
  text-align: center; border-top: 2px solid #E2E2E2; margin: 1em; padding: 1em 0;
  }
  
.sitenavaddy {
  
  }
  
.sitenavlinks{}

.sitenavlinks li {
  list-style-type: none;
  display: inline;
  margin: 0 15px 0 0;
  padding: 0;
  color: black;
  }
  
.sitenavlinks a:link {
  text-decoration: none;
  color: #333333;
  }
.sitenavlinks a:visited {
  text-decoration: none;
  color:#333333;
  }
.sitenavlinks a:hover {
  font-weight: bold;
  }


.sitenavlinks ul {
  padding: 0;
  margin: 0;
  }
  
.chalkboardlinks {
  vertical-align: top;
  padding: 10px 20px;
  color: black;
  background-position: left top;
  } 
  
  .chalkboardlinks a{display: block; padding: 2px; }
  
.chalkboardlinks a:link {
  text-decoration: none;
  color: black;
  }
  
.chalkboardlinks a:visited {
  text-decoration: none;
  color: black;
  }
  
.chalkboardlinks a:hover {
  text-decoration: none;
  background-color: #474747;
  color: #fff;
  font-weight: bold;
  }
  
.contentbody {
  
  padding: 20px;
  background-color: #fff;
  }
  
.contentheader {
  font-size: 16px;
  vertical-align: top;
  padding: 0px 10px 0 0 ;
  color: #888;
  }
  
.contentheader2 {
  font-size: 16px;
  font-weight: normal;
  vertical-align: top;
  padding: 0px 10px 0 0 ;
  color: #888;
  }
  
.teachersanchor {
  font-size:16px;
  font-weight: bold;
  color: red;
  }
  
.subtopic {
  font-weight: bold;
  color: #0066CC;
  font-size: 17px;
  }
  
.subtopic2 {
  font-weight: bold;
  color: black;
  }
  
.headertitles {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
  color:  #339999;
  font-size:30px;
  }

.SRCheadertitles {
  font-weight: bolder;
  color:  #5DFC0A;
  font-size:30px;
  }
  
.or_table_left {
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  padding: 5px;
  }
  
.or_table_right {
  border-top: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  padding: 5px;
  }

.or_table_click {
  font-size: 13px;
  }

.stufftoread_table td {
  padding: 5px;
  }
  
.useitfromhome_button {
  border: 1px solid #e2e2e2;
  }
  
/* HOMEWORK HELP PAGE */
  
.T10C {
  text-align: center;
        font-weight: bold;
  }

/* En Espanol Page */

.category_titles {
  font-size: 16px;
  color: #003366;
  font-weight: bold;
  }
  
/* Twitter */

.twitter_box {
  position: absolute;
  left: 390px;
  top: 6px;
  width: 294px;
  height: 87px;
}

.twitter_title {
  font-family: "Comic Sans MS", helvetica;
  
  font-weight: bold;
}
  
#twitter_update_list {
  font-family: "Verdana", helvetica;
  font-size: 13px;
  list-style-type: none;
  padding: 0;
  margin: 7;
}

/*special style sheet for database listings*/

#db-list{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

div#db-list h3{
  clear: both;
  border-bottom: 3px solid #eee;
  padding: 4px;
}

div#db-list h4{
  clear: both;
  width: 60%;
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1em;
}

div.db{
  overflow: auto;
  margin-bottom: 2em;
}

div.db p{
  float: left;
  width: 60%;
  margin-top: .2em;
}

div.db img{
  float: right;
  width: 30%;
  margin: 0 !important;
  border: 5px solid #eee;
  border-radius: .5em;
}

div.db img.no-border{
  border: 0;
}

div#db-list .no-style{
  padding-left: 6px;
}

.library-only{
  width: auto;
  display: inline-block;
  margin-left: .5em; 
  padding: 2px 6px;
  font-size: 85%;
  font-weight: normal;
  background-color: #FCF8E3;
  color: #C09853;
}

.favorite{display: inline-block; width: 1em; height: 1em; background: url('/images/icons/star.png') no-repeat right top; padding: 0 2px;}

.ad{background-color: #eee; padding: 1em 1em 2em 1em; overflow: hidden;}
.ad .image{float: left; width: 45%; margin-top: 1em; margin-right: 5%; padding: 2%; background-color: #fff;}
.ad .image img{width: 100%; max-width: 290px; }
.ad .text{float: left; width: 45%;}

a.button{display: inline-block; padding: 4px 8px; background-color: #339999; color: #fff; text-decoration: none;}
a.button:hover{background-color: #888;}