/*Styles for page*/

html{
  background-color: #f8f8f8;
}

body{
  width: 100%; 
  margin: 0;
  margin-top: 100px; 
  padding: 0;
  font-size: 125%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  color: #333;}

li, p, blockquote, dt, dd{line-height: 1.45em;}

blockquote{padding: 1em; background-color: #333; color: #fff;}

.hidden{
  display: none !important;
}

a{
  color: #00a89e;
  text-decoration: none;
}

a:hover{color: #aaa; border-bottom: 1px dotted #aaa; }

a.button{
  display: inline-block;
  width: auto;
  height: 2em;
  line-height: 2em;
  margin: .5em 0;
  padding: 0 1em;
  background-color: #00a89e;
  color: #fff !important;
  vertical-align: middle;
  text-align: center;
  border-radius: .5em;
  box-shadow: 1px 1px 1px 0px #ddd;
  text-decoration: none;
}

a.button:hover{
  background-color: #555;
 }

hr{clear: both; margin: 5% auto; border-top: 1px solid #ccc; border-bottom: 0;}

span.block{display: block;}

#header{
  width: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  text-align: center; 
  background-color: #00a89e;
  z-index: 100;
  border-bottom: 1px solid #aaa;
}

#header a{
  display: block;
  margin: 0 auto;  
}

#header a.banner{
  width: 50%;
  min-height: 60px;
  padding-bottom: 1em;
  background: url('../images/banner_640x80.png') no-repeat center; 
  background-size: 90%;
}

#header a.banner:hover{border: 0;}

#header h1{
  margin: 0; 
  padding: 0;
}

#header .nav{
  display: none;
}

#header .nav-button{
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
  width: 70px
  height: 50px;
  padding: .2em;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #333;
  cursor: pointer;
}

#header .nav-button .icon-bar{
  display: block;
  width: 18px;
  height: 2px;
  margin: 3px 5px;
  background-color: #ddd;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

#header ul.nav{
  width: 100%;
  margin: 0;
  padding: 1em 0;
  background-color: #333;
  text-align: left;
}

#header ul.nav li a{
  color: #fff;
  padding: .5em 1em;
}

#header ul.nav li a:hover{
  background-color: #ddd;
  border: 0;
}

#content{margin: 2% 3%; background: #fff; padding: 5%; border: 1px solid #ccc; border-radius: .6em; position: relative; overflow: hidden; z-index: 50;}

#content h2{font-size: 200%;}
#content h4{color: #aaa;}

/*hero unit*/
#content div.hero .image{float: left; width: 40%; margin-bottom: 5%; margin-right: 6%; text-align: center;}
#content div.hero .image img{display: block; width: 95%; min-width: 150px; max-width: 300px; max-height: 550px; margin-left: auto; margin-right: auto;}
#content div.hero .text{float: left; width: 50%; margin-top: 5%;}
#content div.hero h2{margin-top: 5%;}
#content div.hero h3{margin-top: 10%; padding-bottom: .5em; text-transform: uppercase; font-size: 100%; font-weight: normal; border-bottom: 3px solid #C1D72E;}


#content .logo{
  float: right;
  margin: -2em 0 0 1em;
  padding: .15em;
}

#content .ad {min-height: 400px; padding: 0; background:  url('http://dppl.org/images/edppl/new-world-cinema-banner.jpg') no-repeat right .5em;}
#content .ad .text{width: 60%;}

#content ol{
  clear: left;
  margin: 1em 0;
  padding-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}

#content ol li{
  padding-bottom: 1em;
}

#content ul li{
  padding-bottom: 1em;
}

#content dl dt, #content dl dd{display: inline; block;}


/*specific styles for content area*/

/*icon list on app page*/
#content ul.icons{list-style: none; width: 80%; margin-left: auto; margin-right: auto; margin-top: 2em; padding: 0; }
#content ul.icons li{height: 70px; margin-bottom: 1em; padding-bottom: 0; padding-left: 100px; line-height: 70px;vertical-align: middle; background-image: url('../images/app-icons.png'); background-repeat: repeat-y;}
#content ul.icons li.account{background-position: 0px 0px;}
#content ul.icons li.search{background-position: 0px -70px;}
#content ul.icons li.edppl{background-position: 0px -140px;}
#content ul.icons li.events{background-position: 0px -210px;}
#content ul.icons li.connect{background-position: 0px -280px;}
#content ul.icons p{display: inline-block; vertical-align: middle;}

/*list with download links*/
#content ul.downloads{list-style: none; padding: 0; padding-bottom: 5%;}
#content ul.downloads li{float: left; width: 148px; height: 50px; padding-bottom: .5em; vertical-align: middle;}
#content ul.downloads li p{display: none;}
#content ul.downloads li a{display: block; height: 45px; width: auto; background-image: url('../images/app-stores.png'); background-repeat: repeat-y;}
#content ul.downloads a:hover{border:0;}
#content ul.downloads li a.ios{background-position: 0px 0px;}
#content ul.downloads li a.android{background-position: 0px -45px;}
#content ul.downloads li a.other{background-position: 0px -90px;}

/*footer styles*/

#footer{
  margin: 0 3%;
}

#footer p a{
  color: #666;
  font-size: .8em;
}

@media screen and (max-width: 700px){
 body{margin-top: 80px;}
 a.button{width: 90% !important; margin: 0 auto;}
 blockquote{margin-left: 0; margin-right: 0;}
 div#header a.banner{width: 90%; margin: 0; padding-bottom: 0;}
 div.hero h2{text-align: center;}
 div.hero .image{float: none !important; width: 50% !important; margin-left: auto !important; margin-right: auto !important;}
 div.hero .text{width: 100% !important; float: none !important; margin-top: 10%; }
 #content dl dt, #content dl dd{display: block; width: 100%; margin-left: 0;}
 #content ul.icons {width: 100%;}
 #content ul.icons li{ line-height: 120%;}
 #content .ad{background: transparent;}
 #content .ad .text{width: 100%;}
}
