/*Styles for page*/

html{
  background-color: #f8f8f8;
}

body{width: 100%; margin: 0; padding: 0; font-size: 125%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333;}

li, p, blockquote, dt, dd{line-height: 1.45em;}

.hidden{
  display: none !important;
}

a{
  color: #00a89e;
  font-weight: bold;
  text-decoration: none;
}

a:hover{color: #c8c8c8; border-bottom: 1px dotted #c8c8c8; }

a.button{display: block; height: auto; width: 40%; padding: .5em; background-color: #00a89e; color: #fff; text-align: center; border-radius: 20px; box-shadow: 1px 1px 4px 0px #ddd;}

a.button:hover{border: 0;}

hr{clear: both; margin: 5% auto; border-top: 1px solid #ccc; border-bottom: 0;}

span.block{display: block;}

#header{width: 100%; 
text-align: center; 
background-color: #00a89e;
}

#header a{
display: block;
width: 50%;
min-height: 60px;
margin: 0 auto; 
padding-bottom: 1em; 
background: url('../images/banner_640x80.png') no-repeat center; 
background-size: 100%;
}

#header a:hover{border: 0;}

#header h1{
  margin: 0; 
  padding: 0;
}

#content{margin: 3%; background: #fff; padding: 5%; border: 1px solid #ccc; border-radius: .6em; position: relative; overflow: hidden;}

/*hero unit*/
#content div.hero .image{float: left; width: 40%; margin-bottom: 5%; margin-right: 6%; text-align: center;}
#content div.hero .image img{display: block; width: 95%; min-width: 150px; max-width: 300px; margin-left: auto; margin-right: auto;}
#content div.hero .text{float: left; width: 50%; margin-top: 5%;}
#content div.hero h2{margin-top: 5%;}
#content div.hero h3{margin-top: 10%; padding-bottom: .5em; text-transform: uppercase; font-size: 100%; font-weight: normal; border-bottom: 3px solid #C1D72E;}


#content .logo{
  float: right;
  margin: -2em 0 0 1em;
  padding: .15em;
}

#content ol{
  clear: left;
  margin: 1em 0;
  padding-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}

#content ol li{
  padding-bottom: 1em;
}

#content ul li{
  padding-bottom: 1em;
}

#content dl dt, #content dl dd{display: inline; block;}


/*specific styles for content area*/

/*icon list on app page*/
#content ul.icons{list-style: none; width: 80%; margin-left: auto; margin-right: auto; margin-top: 2em; padding: 0; }
#content ul.icons li{height: 70px; margin-bottom: 1em; padding-bottom: 0; padding-left: 100px; line-height: 70px; vertical-align: middle; background-image: url('../images/app-icons.png'); background-repeat: repeat-y;}
#content ul.icons li.account{background-position: 0px 0px;}
#content ul.icons li.search{background-position: 0px -70px;}
#content ul.icons li.edppl{background-position: 0px -140px;}
#content ul.icons li.events{background-position: 0px -210px;}
#content ul.icons li.connect{background-position: 0px -280px;}
#content ul.icons p{display: inline-block; vertical-align: top; margin-left: 3%;}

/*list with download links*/
#content ul.downloads{list-style: none; padding: 0; padding-bottom: 5%;}
#content ul.downloads li{float: left; width: 148px; height: 50px; padding-bottom: .5em; vertical-align: middle;}
#content ul.downloads li p{display: none;}
#content ul.downloads li a{display: block; height: 45px; width: auto; background-image: url('../images/app-stores.png'); background-repeat: repeat-y;}
#content ul.downloads a:hover{border:0;}
#content ul.downloads li a.ios{background-position: 0px 0px;}
#content ul.downloads li a.android{background-position: 0px -45px;}
#content ul.downloads li a.other{background-position: 0px -90px;}

/*footer styles*/

#footer{
  margin: 0 3%;
}

#footer p a{
  color: #666;
  font-size: .8em;
}

@media screen and (max-width: 700px){
 a.button{width: 80% !important; margin: 0 auto;}
 div#header a{width: 100%; margin: 0;}
 div.hero h2{text-align: center;}
 div.hero .image{float: none !important; width: 50% !important; margin-left: auto !important; margin-right: auto !important;}
 div.hero .text{width: 100% !important; float: none !important; margin-top: 10%; }
 #content dl dt, #content dl dd{display: block; width: 100%; margin-left: 0;}
}
