body {
  padding-top: 60px;  /* 60px to make the container go all the way to the bottom of the topbar */
  overflow-y: scroll;
  background: url('../img/newsprint2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.home{padding-bottom: 60px;}

.load{
  display: inline-block;
  width: 24px; 
  height: 24px; 
  background: url('../img/ajax-loader.gif') no-repeat center center
}

h1{
  color: #ee1c25;
  font-size: 60px;
  line-height: 1em;
}
.content{
 background-color: #fff;
  padding: 0 20px 20px 20px;
}
.row-fluid{
  padding: 8px 0;
}
.carousel{
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.content img{
  width: 98%;
}
h3{
  font-size: 18px;
  margin-top: 0;
}
iframe{
  display: block;
  width: 100%; 
  min-height: 800px;
}
#headlines{
  min-height: 26px;
  overflow: visible;
  vertical-align: middle;
}
#headlines .item{
  line-height: 30px;
}
#headlines img{
  float: left;
  width: 30px;
  margin-right: 10px;
}
#headlines p{
  float: left;
  margin: 0;
}