/*generic stuff*/
body {
  width: 740px;
  margin: 1em auto;
  padding: 1em;
  line-height: 140%;
  font-size: 90%;
  font-family: sans-serif;
  color: #000;
}

i {
  font-style: oblique;
}

b {
  font-weight: bold;
}

strong{
  font-weight: bold;
}

input[type="submit"], input[type="button"]{
  display: block;
  float: right;
  padding: .7em 2em;
  margin: 1em 1em 1em 1.5em;
  background-color: #009899;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #080808;
  cursor: pointer;
}

/*header*/
div#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 97.8%;
  padding: 0 1em;
  background-color: #000;
  color: #009899;
  z-index: 10;
}

div#header h1{
  float: left;
  text-transform: uppercase;
  color: #888;
  font-weight: normal;
  font-size: 1.2em;
  margin-top: .6em;
  padding: .5em;
}

/*main body*/
div#main{
  margin-top: 5em;
  z-index: 5;
}

div#main h1 {
  clear: both;
  padding-bottom: .4em;
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  font-weight: bold;
  color: #000;
}

div#main h2{
  font-size: 1.1em;
  font-weight: bold;
}

div#main img{
  width: 40%;
  float: left;
}

div#main div#address {
  float: right;
  width: 40%;
  margin-bottom: 3em;
  font-size: .9em;
  text-align: right;
}
  
.note{
   margin-top: .5em;
   margin-bottom: 1em;
   font-style: oblique;
 }

/*form*/
form {
  width: 100%;
  position: relative;
}

/*generic classes*/
.full{
  width: 99% !important;
  clear: left;
}

.float{
  float: left;
}

/*structural bits for form*/
form fieldset {
  border: 1px solid #000;;
  margin-bottom: 2em;
  padding: 1em;
}

form legend {
  width: 98%;
  padding: .6em;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

form fieldset fieldset{
  width: 100%;
  border: 0;
  margin: .5em 0 1em 0;
  padding: 0;
}

form fieldset fieldset legend{
  border:0;
  margin: 0;
  padding: 0 0 .25em 0;
  background-color: #fff;
  color: #000;
  text-transform: none;
}

form fieldset div{
  margin: .5em 0 2em 0;
 }
 
form fieldset div.last{
  margin-bottom: 0;
}

/*special classes for divs*/
div.callout{
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #000;
}

div.errors{
  color: red;
  margin-bottom: 1em;
}

div.response{display: none; color: #fff; padding: 1em;}

div.clear{
  clear: both;
  padding-top: 1em;
}

/*form elements*/
form p{
  margin-top: .5em;
  margin-bottom: 1.25em;
  line-height: 1.5em;
}

form em{
  color: red;
}

form input[type=submit]{
  margin-right: 0;
  background-color: green;
}

/*labels*/
form label{
  display: block;
  float: left;
  width: 20%;
  padding-top: .25em;
}

form label.small{
  padding-left: 1em;
  width: 20%;
}

form label.error{
  color: red;
  padding-left: .15em; 
  vertical-align: center;
}

/*input*/
form input[type="text"], form select, form textarea{
  border: 1px solid #000;
  padding: .35em .25em;
}

form input[type="text"], form textarea{
  width: 78.8%;
}
form textarea{
  height: 5em;
  overflow: hidden;
  resize: none;
  font-family: inherit;
}

form input.small{
  width: 19% !important
 }

form select{
  width: 79.85%;
  background-color: #fff;
}
  
form select.small{
  width: 19%;
}

form input:focus, form textarea:focus, form select:focus{
  background-color: #daeee5;
}

/*simple media query for small screens*/
@media screen and (max-width: 760px){

  body{
    width: 95%;
   }
   
   #header{
     padding-left: .6em !important;
   }
   
   #header input{
     float: none;
     margin-left: .37em;
   }
   
   form{
     margin-top: 10.07em;
   }
   
   form label{
     width: 50%;
     float: none;
     margin-bottom: 1em;
   }
   
   form input, form select, form textarea{
     width: 98.65% !important;
   }
   
   form input[type=radio]{
     position: absolute;
   }
   
   form label.small{
     width: 98.65% !important;
     padding: 0;
     padding-top: 1em;
   }
   
   form input.small{
     width: 98.65% !important;
   }
   
   .float{
     float: none;
   }

}
